@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributedNN {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributedNN .footer-leftNN, .footer-distributedNN .footer-centerNN, .footer-distributedNN .footer-rightNN {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributedNN .footer-leftNN {
    width: 30%;
}

.footer-distributedNN h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributedNN h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributedNN .footer-linksNN {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributedNN .footer-linksNN a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributedNN .footer-company-nameNN {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributedNN .footer-centerNN {
    width: 35%;
}

.footer-distributedNN .footer-centerNN i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributedNN .footer-centerNN i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributedNN .footer-centerNN p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributedNN .footer-centerNN p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributedNN .footer-centerNN p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributedNN .footer-rightNN {
    width: 30%;
}

.footer-distributedNN .footer-company-aboutNN {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributedNN .footer-company-aboutNN span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributedNN .footer-iconsNN {
    margin-top: 25px;
}

.footer-distributedNN .footer-iconsNN a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributedNN .footer-iconsNN a:hover {
    background-color: #3F71EA;
}

.footer-linksNN a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributedNN .footer-leftNN, .footer-distributedNN .footer-centerNN, .footer-distributedNN .footer-rightNN {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributedNN .footer-centerNN i {
        margin-left: 0;
    }
}       
        

        