
* {
    transition: all 0.3s ease-in-out;
    margin: 0px;
    padding: 0px;
    font-family: Railway;
  
   
}
.welcome{
    background-color: rgb(162, 97, 223);
    text-align: center;
    font-size: 30px;
   
}
.container {
    clear: both;
    overflow: auto;
}

nav {
    float: right;
}

.logo {
    float: left;
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
   
}

a{
    text-decoration: none;
}
a:hover {
    color: orange;
    
}
