<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HamroNotes</title>
    <link rel="icon" href="/img/icon.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/Styles.css">
    <link rel="stylesheet" href="/css/style1.css" />
    <link rel="stylesheet" href="/css/style2.css" />

    <link rel="stylesheet" href="Person.css"/>


   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/smart-app-banner@2.0.0/dist/smart-app-banner.css"
        type="text/css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>   -->

</head>
<body>
    <h1 class="welcome">Welcome to HamroNotes</h1>
    <div class="container">
        <div class="logo">
            <img src="/img/logo.png" alt="logo" width="130" />
        </div>
        <nav>
            <ul>
                <li><a href="/main.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </nav>
    </div>

    <section style="background-color: rgb(154, 154, 137);"> <div class="page-title-wrapper section-spacing"> <div class="page-title text-center white-text"> <h1 class="heading-1">Contact</h1> </div> </div> </section>





    <hr/>

    
    
<div class="row no-gutters ourteam">
    <div class="container py-5">
        <div class="row text-center text-white">
            <div class="col-lg-8 mx-auto">
                <h1 class="display-4">
                    Our Creative Team
                </h1>
            </div>
        </div>
    </div>
    <!-- End -->
    <div class="container">
        <div class="row text-center">
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img loading="lazy"
                         src="/img/cyrush.jpg"
                         alt="Image of shant"
                         width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">
                      Ujwol kc
                    </h5>
                    <span class="small text-uppercase text-muted">Site Creator &
                    Designer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/shant.shant.7982" class="social-link"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/prashant-ghimire-2a79a2125/"
                               class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/prashant1gh" class="social-link"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img loading="lazy"
                         src="/static/images/jayanta.jpg"
                         alt="Image of jayanta"
                         width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">
                        Jayanta Poudel
                    </h5>
                    <span class="small text-uppercase text-muted">Content
                    Designer & Manager</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/poudel_jayanta/" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img loading="lazy"
                         src="/static/images/rezna.jpg"
                         alt="Image of rezna"
                         width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">
                        Rejina Laxmi Ghimire
                    </h5>
                    <span class="small text-uppercase text-muted">QA
                    Lead</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/rejina.ghimire.3150/"
                               class="social-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/rejina-ghimire-921481204/"
                               class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img loading="lazy"
                         src="/static/images/prakash-neupane.jpg"
                         alt="Image of rezna"
                         width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">
                        Prakash Neupane
                    </h5>
                    <span class="small text-uppercase text-muted">HR &
                    Management</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/prakash.neupane.125"
                               class="social-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/prakash-neupane-bb2472202/"
                               class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img loading="lazy"
                         src="/static/images/sanam.jpg"
                         alt="Image of sanam"
                         width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">
                        Sanam Karki
                    </h5>
                    <span class="small text-uppercase text-muted">Social
                    Relationship Manager</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/profile.php?id=100004848285744"
                               class="social-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/karki__sanam/" class="social-link"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/sanam-karki-51ba56187"
                               class="social-link"><i class="fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img loading="lazy"
                         src="/static/images/sagar.jpg"
                         alt="Image of sagar"
                         width="100"
                         class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">
                        Sagar Acharya
                    </h5>
                    <span class="small text-uppercase text-muted">Marketing
                    Head</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/sagar.acharya.967" class="social-link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
            <!-- Team item -->
            <!-- <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img loading="lazy" src="/static/images/suman.jpg" alt="Image of rezna" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Suman Ghaire</h5><span class="small text-uppercase text-muted">Ex-Team
                        Member</span>
                </div>
            </div> -->
            <!-- End -->
        </div>
    </div>
</div>
</body>
</html>