<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HamroNotes</title>

    <link rel="icon" href="img/icon.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/css/Styles.css">
    <link rel="stylesheet" href="/css/style1.css" />
    <link rel="stylesheet" href="/css/style2.css" />

</head>
<body>
    <h1 class="welcome">Welcome to HamroNotes</h1>


    <div class="container">
        <div class="logo">
            <img src="/img/logo.png" alt="logo" width="130" />
        </div>
        <nav>
            <ul>
                <li><a href="/main.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </nav>
    </div>
    <hr />
</body>
</html>