/* 
  .person {
    font-family: raleway;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #9a9696c4;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .person img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .person h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .person p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .person .social-media {
    margin-top: 20px;
  }
  
  .person .social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .person .social-media a:hover {
    color: #00c4ff;
  } */

  .cse .gsc-control-cse,
  .gsc-control-cse {
      background-color: transparent !important;
      border: transparent !important;
  }

  div.gsc-control-cse.gsc-control-cse-en {
      padding: 0px !important;
      margin: 0;
  }

  input.gsc-input {
      width: 200px !important;
  }

  button.gsc-search-button.gsc-search-button-v2 {
      width: 40px;
      height: 36px;
      border: 1px solid transparent;
      background: transparent;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 10px;
      padding: 0px;
      margin: 0px;
  }

  div#gsc-iw-id1.gsc-input-box {
      border: transparent;
      border-radius: 25px;

  }

  @font-face {
      font-family: 'Pacifico';
      font-style: normal;
      font-weight: 400;
      src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
      font-display: swap;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 54px;
      height: 28px;
  }

  .switch input {
      opacity: 0;
      width: 0;
      height: 0;
  }

  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #969393;
      -webkit-transition: .4s;
      transition: .4s;
  }

  .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }

  input:checked+.slider {
      background-color: #149400;
  }

  input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
      border-radius: 34px;
  }

  .slider.round:before {
      border-radius: 50%;
  }

  .inactive_faculty {
      color: #bfbfbf !important;
  }